[submodule "Quartz/ThirdParty/SDL2"]
	path = Quartz/ThirdParty/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule ".\\Quartz\\ThirdParty\\bgfx"]
	path = .\\Quartz\\ThirdParty\\bgfx
	url = https://github.com/GentenStudios/bgfx.cmake.git
