[submodule "Quartz/ThirdParty/SDL2"]
	path = Quartz/ThirdParty/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "Quartz/ThirdParty/sol2"]
	path = Quartz/ThirdParty/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "Quartz/ThirdParty/bgfx.cmake"]
	path = Quartz/ThirdParty/bgfx.cmake
	url = https://github.com/GentenStudios/bgfx.cmake.git
