# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
build/*
BUILD/*
**/COMPILE/bin
**/COMPILE/lib
**/docs/html
**/cmake-build-debug

# CLion
**/.idea/

# QtCreator
*.autosave

# QtCreator CMake
CMakeLists.txt.user*

*.swp
*.log

# Visual Studio
.vs**/
# VSCode
.vscode/*

**/glew.pc**
